// ======= //
// GENERAL //
// ======= //

@import url('https://fonts.googleapis.com/css?family=PT+Mono|PT+Sans:700');

body, html {
  min-height:100%; height: 100%; width:100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  font-size: $font-size-default;
}


// ========= //
// TYPOGRAFY //
// ========= //

h1 {
	font-size: $font-size-6;
}
h2 {
	font-size: $font-size-5;
}
h3 {
	font-size: $font-size-4;
}
h4 {
	font-size: $font-size-3;
}
h5 {
	font-size: $font-size-2;
}
h6 {
	font-size: $font-size-1;
}

a, p, span {
}

a {
}

p {
}

small {
}

.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

ul {
  @include list-unstyled;
  li {
    display: inline-block;
  }
}

#{$all-buttons}, .button {
}
textarea {
}

#{$all-buttons-hover}, .button:hover {
}

#{$all-text-inputs} {
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
}

#{$all-text-inputs-focus},
#{$all-text-inputs-hover} {
}

#{$all-text-inputs-active} {
}




// ========== //
// COMPONENTS //
// ========== //

// ============= //
// PAGE ELEMENTS //
// ============= //


// ======= //
// SECIONS //
// ======= //


// ===== //
// PAGES //
// ===== //
