// ========= //
// BOOTSTRAP //
// ========= //

// Extra large devices (large desktops, 1200px and up)
@include media-breakpoint-up(xl) {

}

// NOT MOBILE (tablets, 992px and up)
@include media-breakpoint-up(sm) {

}

// Large devices (desktops, less than 1200px)
@include media-breakpoint-down(lg) {

}

// Medium devices (tablets, less than 992px)
@include media-breakpoint-down(md) {

}

// Small devices (landscape phones, less than 768px)
@include media-breakpoint-down(sm) {

}

// Extra small devices (portrait phones, less than 576px)
@include media-breakpoint-down(xs) {

}

// ========== //
// RESPONSIVE //
// ========== //

// LARGE SMARTPHONE
@media only screen and (min-width : 375px) and (max-width : 768px) {

}

// MEDIUM SMARTPHONE
@media only screen and (max-width : 374px) {

}

// SMALL SMARTPHONE
@media only screen and (max-width : 320px) {

}

// FIX FOR 1366x768 RESOLUTIONS
@media only screen and (min-width : 993px )and (max-width : 1366px) and (min-height : 622px) and (max-height: 768px) {

}
