// COLORS

$first-color: black;
$second-color: black;
$third-color: black;
$fourth-color: black;

// FONTS
$font-size-default: 16px;

// scale for 1.2:
$font-size-1: 1em;
$font-size-2: 1.2em;
$font-size-3: 1.44rem;
$font-size-4: 1.728rem;
$font-size-5: 2.074rem;
$font-size-6: 2.488rem;


// Small devices (landscape phones, less than 768px)
@include media-breakpoint-up(sm) {
  // scale for 1.33:
  $font-size-1: 1rem;
  $font-size-2: 1.333rem;
  $font-size-3: 1.777rem;
  $font-size-4: 2.369rem;
  $font-size-5: 3.157rem;
  $font-size-6: 4.209rem;
}


// MIXINGS

@mixin vertical-centered {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

@mixin centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


// EXTENDS

%ion-icons {
  display: inline-block;
  font-family: "Ionicons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

%content {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
}
